#* @implicitly included *#
#* @vtlvariable name="WebPath" type="com.example.spark.app.Path" *#
#* @vtlvariable name="msg" type="Java.lang.String" *#
#* @vtlvariable name="authenticated" type="Java.lang.Boolean" *#
#* @vtlvariable name="userContext" type="com.example.spark.auth.UserContext" *#
#* @vtlvariable name="links" type="Java.util.Map" *#


