/*=======================================*/
/*      For the viewing interface        */
/*=======================================*/

.PipeFluidFlow
{
fill:none;
stroke-dasharray:1.8 5 2 7;
stroke-dashoffset:100%;
}

.CircuitCurrentFlow
{
fill:none;
stroke-width:5;
stroke-dasharray:1.8 5 2 7;
stroke-dashoffset:100%;
}

.CircuitHighlighting
{
fill:none;
stroke-width:10;
stroke-opacity:0.70;
stroke-linecap:round;
stroke-linejoin:round;
stroke-miterlimit:10;
}

.CircuitTypeMenuTitle
{
font-face:Arial;
font-weight:bold;
font-size:10pt;
}

.CircuitTypeMenuItemEnabled
{
font-face:Arial;
font-weight:normal;
font-size:10pt;
}

.CircuitTypeMenuItemDisabled
{
font-face:Arial;
font-weight:normal;
font-size:10pt;
/*font-color:gray;*/ /*set in javascript lib file*/
}

.AnimationMenu
{
font-face:Arial;
font-weight:bold;
font-size:10pt;
}

.AnimatedStepTitle
{
font-face:Arial;
font-weight:normal;
font-size:10pt;
}

.AnimatedStepDetails
{
font-face:Arial;
font-weight:normal;
font-size:9pt;
}

.DCVoltageBalloonsText
{
font-family:Arial;
font-weight:normal;
font-size:5pt;
color:black;
text-anchor:middle;
dominant-baseline:mathematical;
}


/* new for mouse events */
.AnimationMenuMouseOver
{
font-face:Arial;
font-weight:bold;
font-size:10pt;
color:white;
background-color:blue;
}
/* new for mouse events */
.AnimationMenuMouseOut
{
font-face:Arial;
font-weight:bold;
font-size:10pt;
color:black;
background-color:white;
}







/*=======================================*/
/*      For the authoring interface        */
/*=======================================*/


.WireSegmentMouseOver
{
fill:none;
stroke:blue;
stroke-width:9;
stroke-opacity:0.50;
stroke-linecap:round;
stroke-linejoin:round;
stroke-miterlimit:10;
visibility:visible;
}

.WireSegmentMouseOut
{
fill:none;
stroke:blue;
stroke-width:9;
stroke-opacity:0.01;
stroke-linecap:round;
stroke-linejoin:round;
stroke-miterlimit:10;
visibility:visible;
}

.WireSegmentMouse
{
fill:none;
stroke-width:9;
stroke-opacity:0.01;
stroke-linecap:round;
stroke-linejoin:round;
stroke-miterlimit:10;
visibility:visible;
}

.SwitchPosMouseOver
{
fill:none;
stroke:blue;
stroke-width:3;
stroke-opacity:0.50;
stroke-linecap:round;
stroke-linejoin:round;
stroke-miterlimit:10;
visibility:visible;
}

.SwitchPosMouseOut
{
fill:none;
stroke:blue;
stroke-width:7;
stroke-opacity:0.01;
stroke-linecap:round;
stroke-linejoin:round;
stroke-miterlimit:10;
visibility:visible;
}

.SwitchPosSelected
{
fill:none;
stroke:red;
stroke-width:4;
stroke-opacity:0.5;
stroke-linecap:round;
stroke-linejoin:round;
stroke-miterlimit:10;
visibility:visible;
}




